@import url(http://fonts.googleapis.com/css?family=Montserrat:400,700);
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  list-style: none;
  background: transparent; }

body {
  line-height: 1; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, dialog {
  display: block; }

a {
  text-decoration: none; }

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

html {
  background: #62d1a7; }

body {
  background: #eeeeee;
  color: #333333;
  font: 500 14px/22px "Avenir Next", "Segoe UI", Montserrat, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

h2 {
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  margin-bottom: 0.5em; }

h3 {
  text-transform: uppercase; }

p {
  margin-top: 0.6em; }

a {
  color: #19b7ec; }
  a:hover {
    color: #3bc591; }

.center {
  max-width: 1000px;
  margin: 0 auto;
  padding: 80px 50px; }
  .center.row {
    padding: 80px 30px; }
    .center.row > h3 {
      margin: 0 0 20px 20px; }
    .center.row .col {
      padding: 0 20px; }


@-webkit-keyframes tada {
  0% {
    -webkit-transform: scale(1); }

  10%, 20% {
    -webkit-transform: scale(0.9) rotate(-3deg); }

  30%, 50%, 70%, 90% {
    -webkit-transform: scale(1.1) rotate(3deg); }

  40%, 60%, 80% {
    -webkit-transform: scale(1.1) rotate(-3deg); }

  100% {
    -webkit-transform: scale(1) rotate(0); } }
@-moz-keyframes tada {
  0% {
    -moz-transform: scale(1); }

  10%, 20% {
    -moz-transform: scale(0.9) rotate(-3deg); }

  30%, 50%, 70%, 90% {
    -moz-transform: scale(1.1) rotate(3deg); }

  40%, 60%, 80% {
    -moz-transform: scale(1.1) rotate(-3deg); }

  100% {
    -moz-transform: scale(1) rotate(0); } }
@-o-keyframes tada {
  0% {
    -o-transform: scale(1); }

  10%, 20% {
    -o-transform: scale(0.9) rotate(-3deg); }

  30%, 50%, 70%, 90% {
    -o-transform: scale(1.1) rotate(3deg); }

  40%, 60%, 80% {
    -o-transform: scale(1.1) rotate(-3deg); }

  100% {
    -o-transform: scale(1) rotate(0); } }
@keyframes tada {
  0% {
    transform: scale(1); }

  10%, 20% {
    transform: scale(0.9) rotate(-3deg); }

  30%, 50%, 70%, 90% {
    transform: scale(1.1) rotate(3deg); }

  40%, 60%, 80% {
    transform: scale(1.1) rotate(-3deg); }

  100% {
    transform: scale(1) rotate(0); } }
@-webkit-keyframes fadeIn {
  0% {
    opacity: 0; }

  100% {
    opacity: 1; } }
@-moz-keyframes fadeIn {
  0% {
    opacity: 0; }

  100% {
    opacity: 1; } }
@-o-keyframes fadeIn {
  0% {
    opacity: 0; }

  100% {
    opacity: 1; } }
@keyframes fadeIn {
  0% {
    opacity: 0; }

  100% {
    opacity: 1; } }
.animated {
  -webkit-animation-fill-mode: both;
  -moz-animation-fill-mode: both;
  -ms-animation-fill-mode: both;
  -o-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-delay: 0.8s;
  -moz-animation-delay: 0.8s;
  -ms-animation-delay: 0.8s;
  -o-animation-delay: 0.8s;
  animation-delay: 0.8s;
  -webkit-animation-duration: 0.4s;
  -moz-animation-duration: 0.4s;
  -ms-animation-duration: 0.4s;
  -o-animation-duration: 0.4s;
  animation-duration: 0.4s; }
  .animated.hinge {
    -webkit-animation-duration: 0.4s;
    -moz-animation-duration: 0.4s;
    -ms-animation-duration: 0.4s;
    -o-animation-duration: 0.4s;
    animation-duration: 0.4s; }

@-webkit-keyframes bounceIn {
  0% {
    opacity: 0;
    -webkit-transform: scale(0.3); }

  50% {
    opacity: 1;
    -webkit-transform: scale(1.05); }

  100% {
    -webkit-transform: scale(1); } }
@-moz-keyframes bounceIn {
  0% {
    opacity: 0;
    -moz-transform: scale(0.3); }

  50% {
    opacity: 1;
    -moz-transform: scale(1.05); }

  100% {
    -moz-transform: scale(1); } }
@-o-keyframes bounceIn {
  0% {
    opacity: 0;
    -o-transform: scale(0.3); }

  50% {
    opacity: 1;
    -o-transform: scale(1.05); }

  100% {
    -o-transform: scale(1); } }
@keyframes bounceIn {
  0% {
    opacity: 0;
    transform: scale(0.3); }

  50% {
    opacity: 1;
    transform: scale(1.05); }

  100% {
    transform: scale(1); } }
.bounceIn {
  -webkit-transform-origin: center top;
  -webkit-animation-name: bounceIn;
  -moz-animation-name: bounceIn;
  -o-animation-name: bounceIn;
  animation-name: bounceIn; }

.changelog {
  position: relative;
  margin-top: 40px;
  background: url("dot.png") no-repeat 50% 15px;
  background-size: 10px 10px; }
  .changelog:before {
    content: " ";
    display: block;
    position: absolute;
    width: 2px;
    left: 50%;
    margin-left: -1px;
    top: 20px;
    bottom: -80px;
    background: #cccccc; }
  .changelog:after {
    content: " ";
    display: block;
    clear: both;
    height: 0;
    line-height: 0;
    overflow: hidden; }
  .changelog .box {
    background: white;
    clear: both;
    padding: 20px;
    position: relative; }
    .changelog .box:hover:before {
      border-color: #48c6f0; }
    .changelog .box:hover:after {
      background: #48c6f0; }
    .changelog .box:after {
      display: block;
      content: " ";
      position: absolute;
      top: 0;
      bottom: 0;
      margin: auto;
      right: -20px;
      width: 20px;
      height: 2px;
      background: #cccccc; }
    .changelog .box:before {
      display: block;
      top: 0;
      bottom: 0;
      margin: auto;
      right: -25px;
      position: absolute;
      z-index: 3;
      width: 6px;
      height: 6px;
      content: " ";
      background: #eeeeee;
      border: 2px solid #cccccc;
      border-radius: 50%; }
    .changelog .box:nth-child(odd) {
      float: left;
      width: calc(50% - 20px); }
    .changelog .box:nth-child(even) {
      float: right;
      width: calc(50% - 20px); }
      .changelog .box:nth-child(even):after {
        right: auto;
        left: -20px; }
      .changelog .box:nth-child(even):before {
        right: auto;
        left: -25px; }
  .changelog h4 {
    line-height: 1.8;
    font-weight: 600; }
  .changelog li {
    margin-top: 5px;
    position: relative; }
  .changelog li.new, .changelog li.fix, .changelog li.upd , .changelog li.rem {
    padding-left: 46px; }
    .changelog li.new:before, .changelog li.fix:before, .changelog li.upd:before, .changelog li.rem:before {
      display: block;
      content: "NEW";
      position: absolute;
      top: 4px;
      left: 0;
      color: white;
      font-weight: 700;
      font-size: 10px;
      width: 38px;
      line-height: 13px;
      text-align: center;
      height: 13px;
      background: #8ec550;
      border-radius: 2px; }
  .changelog li.fix:before {
    content: "FIX";
    background: #50c4eb; }
  .changelog li.rem:before {
    content: "REM";
    background: #e30004; }
  .changelog li.upd:before {
    content: "UPD";
    background: #E4CB01; }

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0; }

  100% {
    opacity: 1; } }
@-moz-keyframes fadeIn {
  0% {
    opacity: 0; }

  100% {
    opacity: 1; } }
@-o-keyframes fadeIn {
  0% {
    opacity: 0; }

  100% {
    opacity: 1; } }
@keyframes fadeIn {
  0% {
    opacity: 0; }

  100% {
    opacity: 1; } }

@media screen and (max-width: 740px) {
.changelog .box:before {display:none;}
.changelog .box:after {display:none;}
.changelog .box{width: 100% !important;margin-bottom:10px;}
.changelog:before{display:none;}
.changelog h4{margin-bottom: 1em;}
.changelog {margin-top: 0px;}
.center {padding: 0px 10px;}
html{background: #eee;}
h2{margin: 0.5em;}
}